body, .bg-parcoords {
    background: white;
    font-family: "Avenir" !important;
    margin: 10px}
}

li, p, text {
  color: rgb(197,202,211);
}
h1, h2, h3 {
color: #2c48a8
}
.padding-0 { padding-left: 0; padding-right: 0; }
.parcoords > canvas {
  position: absolute;
  pointer-events: none;
}
.parcoords text {
  font: 16px sans-serif;
  fill: rgba(0,0,0, 0.5);
}
.parcoords text.label {
  font: 18px sans-serif;
}
.parcoords canvas {
  opacity: 1;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.parcoords canvas.faded {
  opacity: 0.25;
}
.parcoords {
  height: 350px;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.top-buffer {
  padding-top: 50px;
}

#pager {
    height: 5vh;
}

#grid {
   position: relative;
   height: 30vh;
   width: 100%;
   color: white;
   bottom: 0;
}

#grid-container {
   position: relative;
   width: 95vw;
   height: 40vh;
   overflow: hidden;
   overflow-y: scroll;
}


.select2-selection__choice {
    background-color: #5c1cab66 !important;
    color: black
}

.select2-selection.select2-selection--multiple {

    background-color: #bea4dd33;
    margin: 15px;
}